{% if is_seller_user.is_seller %}
    {% extends 'homepage/base.html' %}

    {% block title %}{{ title }}{% endblock %}

    {% block content %}
            <h1>{{ title }}</h1>

            <form action="{% url 'addtovar' %}" method="post" enctype="multipart/form-data">
                    <div>{{ form.non_field_errors }}</div>

                    {% csrf_token %}

                    {% for f in form %}
                            <div>{{f.errors}}</div>
                            <p>{{f.label}} {{f}}</p>
                    {% endfor %}
    <!--                <button type="submit">Добавить</button>-->
                    <input type="submit" value="Добавить">
            </form>
    {% endblock %}
{% else %}
    <h1>IDI NAX</h1>
{% endif %}
