{% extends 'homepage/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="filter-content">
        <h2>{{ list_pc.0.maincat.name }}</h2>
        <div class="filter-and-content">
            <div class="filter-filter">
                {% for el in list_pc %}
                    <a href="{{ el.get_absolute_url }}"><p>{{ el.name }}</p></a>
                {% endfor %}
            </div>
            <div class="filter-main-content">
                <div class="filter-content-header">
                    <ul>
                        <li>По популярности</li>
                        <li>по цене</li>
                        <li>по рейтингу</li>
                        <li>по скидке</li>
                    </ul>
                </div>
                <div class="tovari">
                    {% for tovar in tovari %}
                    <div class="qlavniy-tovar">
						<div class="izbranniy-tovar">
                            {% if request.user.is_authenticated %}
                                <label for="{{ tovar.pk }}" class="{% if tovar in fav_tovari %}red{% endif %}">
                                    <i class="fa-solid fa-heart {{ tovar.pk }}"></i>
                                </label>
                                <input name="favorite" style="display: none" class='heart' type="checkbox" id="{{ tovar.pk }}">
                            {% else %}
                                    <i class="fa-solid fa-heart"></i>
                            {% endif %}
                        </div>
						<a href="{{ tovar.get_absolute_url }}">
							<div class="qlavniy-tovar-img"><img src="{{ tovar.photo_main.url }}" alt=""></div>
							<span class="tovar-info">
                                <div class="chena">{{ tovar.price }} ₼</div>
                                <div class="reyting">
                                    <div class="zvezda">звезды</div>
                                    <div class="chislo-ochenik">{{ tovar.rating }}</div>
                                </div>
                                <div class="tovar-name">{{ tovar.title|truncatewords:10 }}</div>
                                <div class="rekomenduyemost">86% рекомендуют</div>
						    </span>
						</a>
						{% if tovar in cart_tovari %}
						    <div class="button"><input type="button" value="В корзине" style="background-color: #e1b70c"></div>
                        {% else %}
						    <div class="button"><input type="button" value="Добавить в корзину"></div>
                        {% endif %}
					</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
{% endblock js %}