{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'homepage/css/style-new.css' %}">
    <link rel="icon" href="{% static 'homepage/img/icon-of-site.webp' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3cb2bc27fe.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">

    <title>{% block title %}{{ title }}{% endblock title %}</title>
    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body class="voyti-body">
    <header class="voyti-header">
        <div class="logo">
            <div class="logo-icon"></div>
            <div class="logo-text"><a href="{% url 'home' %}">Find.az</a></div>
        </div>
    </header>
    <div class="main-of-zareg-for-salers">
        <div class="main-of-salers">
            <div class="header">Registration</div>
            <form action="#" method="post">
                {% csrf_token %}
                <div class="form first">
                    <div class="details personal">
                        <span class="title">Personal Details</span>
                        <div class="fields">
                            <div class="input-field name">
                                <label>Name</label>
{#                                <input type="text" placeholder="Enter your name" required>#}
                                {{ form.first_name }}
                                <div  id="error-of-username">{{ form.first_name.errors }}</div>
                            </div>
                            <div class="input-field surname">
                                <label>Surname</label>
{#                                <input type="text" placeholder="Enter your surname" required>#}
                                {{ form.last_name }}
                                <div  id="error-of-username">{{ form.last_name.errors }}</div>
                            </div>

                            <div class="input-field data-of-birth">
                                <label>Date of Birth</label>
{#                                <input type="date" placeholder="Enter birth date" required>#}
                                {{ form.birth_day }}
                                <div  id="error-of-username">{{ form.birth_day.errors }}</div>
                            </div>

                            <div class="input-field email">
                                <label>Email</label>
{#                                <input type="text" placeholder="Enter your email" required>#}
                                {{ form.email }}
                                <div  id="error-of-username">{{ form.email.errors }}</div>
                            </div>

                            <div class="input-field mobil-numb">
                                <label>Mobile Number</label>
{#                                <input type="number" placeholder="Enter mobile number" required>#}
                                {{ form.phone_number }}
                                <div  id="error-of-username">{{ form.phone_number.errors }}</div>
                            </div>

                            <div class="input-field">
                                <label>Gender</label>
{#                                <select required>#}
{#                                    <option disabled selected>Select gender</option>#}
{#                                    <option>Male</option>#}
{#                                    <option>Female</option>#}
{#                                    <option>Others</option>#}
{#                                </select>#}
                                {{ form.gender }}
                                <div  id="error-of-username">{{ form.gender.errors }}</div>
                            </div>
                        </div>
                    </div>
                    <span class="title">Corporation Details</span>
                    <div class="fields">
                        <div class="input-field occupation">
                            <label>Occupation</label>
{#                            <input type="text" placeholder="Enter your ccupation" required>#}
                            {{ form.occupation }}
                            <div  id="error-of-username">{{ form.occupation.errors }}</div>
                        </div>

                        <div class="input-field city">
                            <label>City</label>
{#                            <input type="text" placeholder="Enter your state" required>#}
                            {{ form.city }}
                            <div  id="error-of-usernam">{{ form.city.errors }}</div>
                        </div>

                        <div class="input-field address">
                            <label>Address</label>
{#                            <input type="text" placeholder="Permanent or Temporary" required>#}
                            {{ form.address_type }}
                            <div  id="error-of-username">{{ form.address_type.errors }}</div>
                        </div>
                    </div>


                    <button  onclick="nextForm()" class="nextBtn">
                        <span class="btnText">Next</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
                <div class="form second">
                    <div class="infa-of-registration">
                        <div class="infa"><pre>Name: </pre><div class="text name"></div></div>
                        <div class="infa"><pre>Surname:  </pre><div class="text surname"></div></div>
                        <div class="infa"><pre>Date of Birth:  </pre><div class="text data-of-birth"></div></div>
                        <div class="infa"><pre>Email:  </pre><div class="text email"></div></div>
                        <div class="infa"><pre>Mobile Number:  </pre><div class="text mobil-numb"></div></div>
                        <div class="infa"><pre>Occupation:  </pre><div class="text occupation"></div></div>
                        <div class="infa"><pre>City:  </pre>Baku<div class="text city"></div></div>
                        <div class="infa"><pre>Address: </pre><div class="text address"></div></div>
                    </div>
                    <div class="fields">
                        <div class="input-field">
                            <label>Password</label>
{#                            <input type="password" placeholder="Password" required>#}
                            {{ form.password1 }}
                            <div  id="error-of-username">{{ form.password1.errors }}</div>
                        </div>
                        <div class="input-field">
                            <label>Repeat password</label>
{#                            <input type="password" placeholder="Repeat password" required>#}
                            {{ form.password2 }}
                            <div  id="error-of-username">{{ form.password2.errors }}</div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button onclick="backForm()"  class="nextBtn">
                            <span class="btnText">Back</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                        <button class="nextBtn" type="submit">
                            <span class="btnText">Register</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>

                </div>
            </form>
        </div>

    </div>

    <footer class="voyti-footer">
    </footer>

    <script src="{% static 'homepage/js/script.js' %}"></script>
    <script>

    </script>

</body>
</html>